<footer class="footer mt-auto py-3 bg-secondary">
    <div class="container text-center">
        <span class="text-light"><%= name %> &copy; 2023</span>
    </div>
</footer>

<script> const baseUrl = "<%= baseUrl %>"; </script>
<script src="<%= baseUrl %>/js/bootstrap.bundle.min.js"></script>
<script src="<%= baseUrl %>/js/jquery.min.js"></script>
<script src="<%= baseUrl %>/js/jquery-ui.min.js"></script>
<script src="<%= baseUrl %>/js/scripts.js"></script>
